@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: antiquewhite;
  font-family: "roboto", sans-serif;
}

/* Common asstes */

.btn {
  cursor: pointer;
  background: none;
  border: none;
}



.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
  margin-top: 20px;
}

.post-container {
  border: 4px solid rgb(204, 199, 199);
  border-radius: 35px;
  height: 754px;
  width: 390px;
  background-color: #1b1b1b;
}

.inside-border {
  position: relative;
  height: 742px;
  border: 6px solid black;
  border-radius: 35px;
}

.post-header {
  padding: 15px 0;
  display: flex;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  /* border: solid 2px rgba(255, 20, 20, 0.555); */
}

.ellipsis {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin-left: 315px;
  margin-top: 15px;
  color: aliceblue;
}

.ellipsis-img {
  height: 33px;
  max-width: 33px;
  display: inline;
}

.main-img-container {
  object-position: center;
  background: black;
  display: block;
}

.main-img {
  width: 100%;
  /* height: 480px; */
  object-fit: cover;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 20px 0;
}

.actions-sec1 {
  display: flex;
}

.actions-sec1 i {
  margin: 0 10px;
}

.actions-sec2 {
  display: flex;
}

.actions-sec2 i {
  margin: 0 10px;
}

.likes-container {
  color: white;
  margin: 10px;
}

.first-liked {
  font-weight: 700;
}

.likes-btn {
  color: white;
  font-weight: 700;
  padding: 0;
}

.and {
  font-weight: 700;
}

.caption-container {
  color: white;
  margin: 5px 10px;
  display: flex;
}



.caption-username {
  font-weight: 700;
  margin-right: 10px;
}

.comments-btn {
  color: #808080;
  margin: 5px 10px;
  padding: 0;
}

.date_comments-container {
  margin: 0 10px;
  color: #808080;
}

.hidden {
  display: none;
}

/*  COMMENTS*/

.comments-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 2px solid white;
}

.icon-btns {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.comments-header p {
  color: white;
}

.comments-section {
  height: 560px;
  overflow-y: scroll;
}

/* SCROLL BAR */
/* width */
.comments-section::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.comments-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.comments-section::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.comments-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment_single-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  color: white;
  margin: 10px 10px 10px 0;
}

.comment_single-user {
  margin-left: 10px;
  font-weight: 700;
}

.comment_single-text {
  margin-left: 10px;
}

.follow {
  margin-right: 10px;
}


.comments-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-emojies {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.emoji {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 22px;
}

.add-comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.add-comment-container form {
  width: 300px;
}

.add-comment-container form input {
  width: 95%;
}

.add-comment {
  border-radius: 20px;
  border: none;
  width: 245px;
  height: 30px;
  border: 1px solid rgb(66, 66, 66);
  background-color: transparent;
  padding-left: 10px;
  padding-right: 50px;
  color: white;
}


.add-comment:focus+.post-comment-btn {
  color: rgb(86, 143, 255);
}

.post-comment-btn {
  text-decoration: none;
  position: absolute;
  bottom: 8px;
  right: 13px;
  margin-bottom: 5px;
  margin-right: 15px;
  background-color: transparent;
  border: none;
}

/* LIKES */

.likes-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid white;
}

.likes-header p {
  color: white;
}

.likes-section {
  width: 100%;
  color: white;
}

.likes-section_form input {
  width: 350.8px;
  margin: 10px;
}

.likes_single-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 0;
}

.likes_single-container-left {
  display: flex;
  align-items: center;
}

.follow-btn {
  cursor: pointer;
  border-style: none;
  background-color: rgb(0, 149, 246);
  padding: 0 16px;
  border-radius: 5px;
  line-height: 0px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  height: 30px;
  margin-right: 10px;
  transition: color 100ms;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.follow-btn:hover {
  background-color: rgb(21, 123, 190);
}